<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mood Tracker</title>
</head>
<body>
    <header>
        <h1>
            Mood Tracker
        </h1>
    </header>

    <!-- Mood Picker Pop-up -->
    <section class="mood-picker">
        <form id="mood-otd" action="/motd" method="POST">
            <!-- Date -->
            <!-- Fix values and max date -->
            <label for="date">Choose date:</label>
            <input type="date" id="date" name="date" class="block"  value="" min="2022-01-01" max="" required>
            <div class="selectContainer block">
                <!-- Positive -->
                <input type="radio" id="overallMood" name="overallPositive" value="positive" required>
                <label for="overallPositive" >Positive</label>
                <!-- Neutral -->
                <input type="radio" id="overallMood" name="overallNeutral" value="neutral" required>
                <label for="overallNeutral" >Neutral</label>
                <!-- Negative -->
                <input type="radio" id="overallMood" name="overallNegative" value="negative" required>
                <label for="overallNegative" >Negative</label>
            </div>
        </form>

        <!-- Button -->
        <button form="mood-otd" type="submit" class="block">Submit</button>

    </section>

    <!-- Mood display of year -->
    <section class="year">
        <div class="day">
            hi
        </div>
    </section>

    <script src="/main.js"></script>
</body>
</html>