<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mood Tracker</title>
</head>
<body>
    <header>
        <h1>
            Mood Tracker
        </h1>
    </header>

    <!-- Mood Picker Pop-up -->
    <section class="mood-picker">
        <%= new Date().toDateString();%>
        <% let year = new Date().getFullYear(); %>
        <% let month = new Date().getMonth() + 1; %>
        <% let day = new Date().getDate(); %>
        <% let today = `${year}-${day}-${month}`; %>
        <%= today %>
    </section>

    <!-- Mood display of year -->
    <section class="year">
        <div class="day">
            hi
        </div>
    </section>

    <script src="/main.js"></script>
</body>
</html>