/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: pink;
}

.moodsForYear {
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
     width: 95vw;
     justify-content: center;
     margin: 0 auto;
}

.day {
     background-color: gray;
     width: 50px;
     height: 50px;
}

.mood-picker {
     background-color: rgb(244, 171, 244);
}

#date_2022-08-15 {
     background-color: red;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
