/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #12171D;
     color: #CAD0D7;
}

.hidden {
     display: none;
}

#wrapper {
     /* display: flex; */
     position: relative;
     min-height: 100vh;
     width: 100%;
}

.moodsForYear {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: .25rem;
     height: 180px;
     width: 90%;
     justify-content: center;
     /* align-items: center; */
     align-content: center;
     margin: 0 auto;
}

.dayBox {
     display: flex;
     background-color: #1E2126;
     border-radius: 10%;
     border: 1px solid rgba(128, 128, 128, 0.05);
     width: 15px;
     height: 15px;
     position: relative;
}

.dayBox:hover {
     background-color: rgba(223, 223, 223, .2);
     transition: all .5s ease-in-out;
     cursor: g;
}

.dayBoxBubble {
     background-color: white;
     color: black;
     position: absolute;
     top: -2.1rem;
     height: 1.6rem;
     width: 7rem;
     padding: .35rem;
     border-radius: 5px;
     z-index: 3;
     text-align: center;
     font-size: .95rem;
}

.dayBoxPointer {
	height: 10px;
	width: 10px;
	background: ivory;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 2px 0;
	margin-top: -15px;
	position: relative;
	left: calc(0.5vw - 0px);
}

.shade {
     min-height: 100vh;
     min-width: 100vw;
     top: 0;
     position: fixed;
     background-color: rgba(0, 0, 0, .4);
     z-index: 1;
}

.moodPicker {
     background-color: rgba(0, 0, 0, .95);
     width: 40rem;
     height: 20rem;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     z-index: 2;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
     text-align: center;
}

.moodPicker {
     padding: 2rem;
}

.close-button {
     background-color: transparent;
     border: 0px solid red;
     color: white;
}

.positive {
     background-color: rgb(87, 135, 87);
     border: 1px solid rgba(128, 128, 128, 0.05);
}

.neutral {
     background-color: rgb(121, 121, 121);
     border: 1px solid rgba(128, 128, 128, 0.05);
}

.negative {
     background-color: rgb(137, 42, 58);
     border: 1px solid rgba(128, 128, 128, 0.05);
}