/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #12171D;
     color: #CAD0D7;
}

.hidden {
     display: none;
}

#wrapper {
     /* display: flex; */
     position: relative;
     min-height: 100vh;
     width: 100%;
}

.moodsForYear {
     display: flex;
     flex-wrap: wrap;
     gap: .45rem;
     width: 95vw;
     justify-content: center;
     margin: 0 auto;
}

.dayBox {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #1E2126;
     border-radius: 10%;
     width: 50px;
     height: 50px;
}

.dayBox:hover {
     background-color: #000000;
     transition: all .5s ease-in-out;
     cursor: g;
}

.shade {
     min-height: 100vh;
     min-width: 100vw;
     top: 0;
     position: fixed;
     background-color: rgba(0, 0, 0, .4);
     z-index: 1;
}

.moodPicker {
     background-color: rgba(0, 0, 0, .95);
     width: 40rem;
     height: 20rem;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     z-index: 2;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
     text-align: center;
}

.moodPicker {
     padding: 2rem;
}

.close-button {
     background-color: transparent;
     border: 0px solid red;
     color: white;
}

.positive {
     background-color: rgb(87, 135, 87);
}

.neutral {
     background-color: rgb(121, 121, 121);
}

.negative {
     background-color: rgb(137, 42, 58);
}